panda-box{
    display: block;
}

.panda{
    /* position: absolute; */
    top: 50%;
    left: 47%;
    height: 120px;
    width: 80px;
    background-color: aliceblue;
    border: 5px solid black;
    border-radius: 30%;
}
.face{
    position: relative;
    background-color: white;
    border: 5px solid black;
    height: 90px;
    width:110px;
    border-radius: 50%;
    bottom: 30px;
    right: 20px;
}
.ear_l,.ear_r{
    position:relative;
    background-color: black;
    height: 25px;
    width: 40px;
    border-radius: 0px 0px 40px 40px;
}
.ear_l{
    transform: rotate(145deg);
    bottom:13px;
    right:8px;
}
.ear_r{
    transform: rotate(-145deg);
    bottom:38px;
    left:78px;
}
.eye_l,.eye_r{
    position:relative;
    background-color: black;
    height: 33px;
    width: 28px;
    border-radius: 50%;
}
.eye_l{
    transform: rotate(25deg);
    bottom:30px;
    left:10px;
}
.eye_r{
    transform: rotate(-25deg);
    bottom: 63px;
    left:72px;
}
.eyeball{
    position:relative;
    top: 8px;
    left: 7px;
    width:14px;
    height: 14px;
    border-radius: 50%;
    background-color: white;
}
.nose{
    position:relative;
    height:8px;
    width: 15px;
    background-color: black;
    border-radius: 15px;
    bottom:65px;
    left:48px;
}
.hand_l,.hand_r{
    position:relative;
    width:25px;
    height: 43px;
    background-color: black;
    border-radius:30px;
}
.hand_l{
    transform: rotate(90deg);
    bottom:52px;
    right: 33px;
}

.panda:hover>div.hand_l{
    transform: rotate(90deg);
    bottom:28px;
    right: 12px;
    animation: wave 0.5s infinite ;
    transform-origin:top;
    
}
@keyframes wave{
    50%{
        transform: rotate(120deg)
    }
}
.hand_r{
    transform: rotate(-90deg);
    bottom:92px;
    left: 89px;
}
.leg_l,.leg_r{
    position:relative;
    width:17px;
    height: 25px;
    background-color: black;
    border-radius:0px 0px 30px 30px;
}
.leg_l{
    bottom:65px;
    left: 15px;
}
.leg_r{
    bottom:90px;
    left: 49px;
}
.shadow{
    position: relative;
    background-color: rgba(0,0,0,0.2);
    height: 30px;
    width: 100px;
    border-radius: 50%;
    bottom: 105px;
    right: 10px;
}